/* importing fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.8em;
    
}
  
article {
padding: 0 1em;
}

section{
margin: 1em;
padding: 1em;
}

header, main, footer {
margin: 0 auto;
}

header {
padding: 2em;
text-align: center;
background-size: cover;
background-image: url('https://github.com/ritaly/HTML-CSS-CV-base/blob/master/img/bg.jpg?raw=true');
background-color: #cccccc;
background-position: center;
/* text color */
color: white;
}

header section {
margin: 0 auto;
/* section block size */
width: 640px;
}

header img {
    width: 150px;
    border: 2px solid grey;
    border-radius: 50px;
    background-color: beige;
}

h1 {
margin: 1em 0;
text-transform: uppercase;
/* distance between letters */
letter-spacing: 5px;
}

main {
max-width: 1140px;
}

main h3 { 
    text-transform: uppercase;
}

main section {
    border-bottom: 4px solid rgb(206, 11, 11);
}

/* usage of :last-child Selector to remowe border */
main section:last-child {
    border-bottom: none;
    background-color: rgb(187, 214, 214);
}

.course {
    display: flex;
    display: -ms-flexbox; /* integration with IE */
    justify-content: center;
    align-items: stretch;
    /* align-items: stretch; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    margin-top: 15px;
}

.course .title {
    font-weight: 900;
    text-transform: none;
    color: #509e98;
    background-color: gold;

    flex: 0 0 33.3%;
    -ms-flex: 0 0 33.3%;
    max-width: 33%
}

.course .descrition {
    flex: 0 0 66.6%;
    -ms-flex: 0 0 66.6%;
    max-width: 66.6%
}

.course .descrition p {
    padding-left: 1em;
    padding-right: 1em;
    text-align: justify;
    margin: 0ch;
  }

  .skills {
    display: -ms-flexbox;
    display: flex;
    /*-ms-flex-wrap: wrap;
    flex-wrap: wrap;*/
    flex-flow: row wrap;
    position: relative;
    width: 100%;
  }
  
  .skills .column {
    /*-ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin: 4px;*/
    background: rgb(197, 197, 206);
    width:48%;
    height: auto;
    padding: 4px;
    flex: 1;
    flex-basis: 48%;
    /*border: 1px solid red;*/   
  }

.school span {
color: #A7B8BF;
text-decoration: underline;
font-style: italic;
}

.school strong {
    text-transform: capitalize;
}

footer {
padding: 1em;
}
/* content property - for certain li */
/* ul.list-triangle or just .list-triangle,  */
ul.list-triangle {
    list-style-type: none; /* Remove HTML bullets */
    padding: 0;
    margin: 0;
  }

ul.list-triangle li {
    padding-left: 16px;     
}

ul.list-triangle > li::before {
    content: ""; /* Insert content that looks like bullets */
    padding-right: 10px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 0 5px 15px;
    border-color: transparent transparent transparent #dd4397;  
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

/* easiest way */
/*
li::before {
    content: "•"; /* Insert content that looks like bullets *-/
    padding-right: 8px;
    color: blue; /* Or a color you prefer *-/
}
*/

/*emoji as marker*/
ul.emoji {
    list-style-type: none; /* Remove HTML bullets */
    padding: 0;
    margin: 0;
  }

ul.emoji .PL {
    padding-left: 16px;     
}

ul.emoji > .PL::before {
    content: "🇵🇱"; /* Insert content that looks like bullets */
    padding-right: 10px;
    width: 0px;
    height: 0px;
}

ul.emoji .GB {
    padding-left: 16px;     
}

ul.emoji > .GB::before {
    content: "🇬🇧"; /* Insert content that looks like bullets */
    padding-right: 10px;
    width: 0px;
    height: 0px;
}

ul.list-tick {
    list-style-type: none; /* Remove HTML bullets */
    padding: 0;
    margin: 0;
  }

ul.list-tick li {
    position: relative;
    padding-left: 1.5em;  /* space to preserve indentation on wrap */     
}

ul.list-tick > li::before {
    content: "✓"; /* Insert content that looks like bullets */ /* placeholder for the SVG */
    padding-right: 10px;
    padding-left: 20px;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-right: 5px;
    background: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?><svg width='18' height='18' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path d='M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z'/></svg>") no-repeat;
    background-color: green;
    left: 15px;  /* place the SVG at the start of the padding */
    color:yellow;
    /*position: absolute;*/   

}

footer {
    text-align: right;
    background-color: #cccccc;
}

/* unvisited link */
footer a:link {
    color: red;
    text-decoration: none;
    background-color: yellow;
  }
  
  /* visited link */
footer a:visited {
    color: green;
    text-decoration: none;
    background-color: #A7B8BF;
  }
  
  /* mouse over link */
footer a:hover {
    color: hotpink;
    text-decoration: none;
  }
  
  /* selected link */
footer a:active {
    color: blue;
    text-decoration: none;
  }